
 <div class="container">
  <form [formGroup]="myform" (ngSubmit) = "onClickSubmit(myform.value)" >
    <div class="container border">
     
          <label>Name: </label> <input type="text" class="fortextbox" name="name" placeholder="enter your name" 
          formControlName="name"><br/>
          <div *ngIf="name.errors && (name.dirty || name.touched)">
          <p class="error" *ngIf="name.errors.required">Name is required</p>
      
      </div>
    
      
     <label>Phone: </label> <input type="text" name="phone" placeholder="enter your number" formControlName="phone">
     <div *ngIf="phone.errors?.minlength || phone.errors?.maxlength"  class="error" >
       
     <p>  phone number should have 10 digits </p>   
  </div> 
  <div *ngIf="phone.errors?.pattern" class="error" >
       
      Phone should be a number
   </div> 

     
<div formGroupName="address" class="border"> 
   <h3>Address:</h3>
   <label>City: </label> <input type="text"  name="city" formControlName="city">
     <br/>
     <label>Street: </label> <input type="text" name="street" formControlName="street">
     <br/>
     <label>Zip: </label><input type="text" name="zip" formControlName="zip">
     <div *ngIf="zip.errors?.minlength || zip.errors?.maxlength"  class="error" >
       
        <p>  zip number should have 6 digits </p>   
     </div> 
     <div *ngIf="zip.errors?.pattern" class="error" >
          
         zip should be a number
      </div> 
  <br/></div>
</div>

     <input type="submit" [disabled]="myform.invalid"class="forsubmit" value="Log In">
  </form>

<p>{{myform.value | json}}</p>
<p *ngIf="myform.valid">formstatus: VALID</p>
<p *ngIf="!myform.valid">formstatus: INVALID</p>
</div>
